.App {
  text-align: center;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.page-transition {
  animation: slideOut 0.7s ease-in-out forwards;
}

.page-transition-enter {
  animation: slideIn 0.7s ease-in-out forwards;
}

.search-container {
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
}

.search-input {
  font-size: 18px;
  width: 600px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.search-button {
  font-size: 15px;
  width: 100px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(77, 75, 75, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

label {
  width: 200px;
  font-size: 20px;
  color: rgba(225, 225, 225, 0.9);
}

.data-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}